<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <% user.posts.each do |post| %>
      <%= link_to post.caption, post_path(post) %>
    <% end %>
  </p>

</div>
