<div id="<%= dom_id post %>">
  <p>
    <h3><strong>Post image:</strong></h3>
    <%= link_to image_tag(post.image.url :preview), post %>
  </p>
  <p>
    <strong>Caption:</strong>
    <%= post.caption %>
  </p>

  <p>
    <strong>User:</strong>
    <%= link_to post.user.username, user_path(post.user) %>
  </p>

</div>
