<%= render @post %>

<% if current_user == @post.user%>
  <div>
    <%= link_to "Edit this post", edit_post_path(@post) %> |

    <%= button_to "Destroy this post", @post, method: :delete %>
  </div>
<% end %>

<div>
    <%= link_to "Back to posts", posts_path %>
</div>

